* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 50px;
}

.inti {
    margin-top: 80px;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span {
    text-align: center;
    font-size: 30px;
    color: brown;
}

h2{
    justify-content: first baseline;
    display: flex;
    margin-bottom: 200px;
}