* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(169, 183, 221);
}

.container {
    margin: 50px;
}

.inti {
    margin-top: 30px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span {
    text-align: center;
    font-size: 30px;
    color: brown;
}

h2{
    justify-content: first baseline;
    display: flex;
    margin-bottom: 200px;
    height: 200px;
    background-color: antiquewhite;
}